@using Nop.Plugin.Misc.CycleFlow.Constant.Enum;
@using Nop.Plugin.Misc.CycleFlow.Models.Deportation
@model DeportationModel

@{
    var customer = await workContext.GetCurrentCustomerAsync();
    
    const string hideInfoBlockAttributeName = "Deportation.HideInfoBlock";
    var hideInfoBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideInfoBlockAttributeName);

    const string hideOrderBlockAttributeName = "Deportation.HideOrderBlock";
    var hideOrderBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideOrderBlockAttributeName);

    const string hideAllDeportationImageBlockAttributeName = "Deportation.HideAllDeportationImageBlock";
    var hideAllBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideAllDeportationImageBlockAttributeName);

    const string hideLastDeportationImageBlockAttributeName = "Deportation.HideLastDeportationImageBlock";
    var hideLastDeportationImageBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideLastDeportationImageBlockAttributeName);
    
    const string hideDeportationBlockAttributeName = "Deportation.HideDeportationBlock";
    var hideDeportationBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideDeportationBlockAttributeName);
}

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <nop-cards id="vendor-cards">
                <nop-card asp-name="vendor-info" asp-icon="fas fa-info" asp-title="@T("Admin.Plugin.Misc.CycleFlow.Deportation.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</nop-card>
                <nop-card asp-name="Send" asp-icon="fas fa-search-plus" asp-title="@T("Admin.Plugin.Misc.CycleFlow.Deportation.Order")" asp-hide-block-attribute-name="@hideOrderBlockAttributeName" asp-hide="@hideOrderBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.Order", Model)</nop-card>
                <nop-card asp-name="Send" asp-icon="fas fa-search-plus" asp-title="@T("Admin.Plugin.Misc.CycleFlow.Deportation.AllDeportationImage")" asp-hide-block-attribute-name="@hideAllDeportationImageBlockAttributeName" asp-hide="@hideAllBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.AllImage", Model)</nop-card>
                <nop-card asp-name="Send" asp-icon="fas fa-search-plus" asp-title="@T("Admin.Plugin.Misc.CycleFlow.Deportation.LastDeportationImage")" asp-hide-block-attribute-name="@hideLastDeportationImageBlockAttributeName" asp-hide="@hideLastDeportationImageBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.LastImage", Model)</nop-card>
                <nop-card asp-name="Send" asp-icon="fas fa-search-plus" asp-title="@T("Admin.Plugin.Misc.CycleFlow.Deportation.Deportation")" asp-hide-block-attribute-name="@hideDeportationBlockAttributeName" asp-hide="@hideDeportationBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.Deportation", Model)</nop-card>
            </nop-cards>
        </div>
    </div>
</section>

<div id="return-model" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="returnModelTitle">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@T("Admin.Plugin.Misc.CycleFlow.Deportation.Return")</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group text-center row">
                <p>@T("Admin.Plugin.Misc.CycleFlow.Deportation.Return.Confirmation")</p>
                    <div class="col-md-3">
                        <nop-label asp-for="Note" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Note" asp-template="RichEditor" asp-required="true" />
                        <span asp-validation-for="Note"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@T("Admin.Common.Close")</button>
                <button type="submit" name="deportationType" value="@Deportation.Return" class="btn btn-primary" form="deportationForm">@T("Admin.Common.Confirm")</button>
            </div>
        </div>
    </div>
</div>