@model Nop.Plugin.Misc.CycleFlow.Models.Deportation.DeportationModel
<div class="card-body">
    <div class="cards-group">
        <div class="form-group row">
                <div class="col-md-3">
                    <nop-label asp-for="Note" />
                </div>
                    <div class="col-md-9">
                    <nop-editor asp-for="Note" asp-template="RichEditor" />
                    <span asp-validation-for="Note"></span>
                </div>
            </div>
        <div class="form-group row">
            <div class="col-md-12" style="overflow-x: auto;">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>
                                @T("Admin.Plugin.Misc.CycleFlow.Deportation.Fields.CurrentOrderStatusName")
                            </th>
                            <th>
                                @T("Admin.Plugin.Misc.CycleFlow.Deportation.Fields.NextOrderStatus")
                            </th>
                            @if(@Model.IsEnableReturn)
                            {
                                <th>
                                    @T("Admin.Plugin.Misc.CycleFlow.Deportation.Fields.ReturnStep")
                                </th>
                            }

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">
                                <p>@Model.CurrentOrderStatusName</p>
                                <input asp-for="OrderStatusId" type="hidden" />
                            </td>
                            <td class="text-center">
                                <p>@Model.NextOrderStatusName</p>
                                <input asp-for="NextOrderStatusId" type="hidden" />
                            </td>
                            @if(@Model.IsEnableReturn)
                            {
                                <td class="text-center">
                                    <p>@Model.ReturnStepName</p>
                                    <input asp-for="ReturnStepId" type="hidden" />
                                    <input asp-for="IsEnableReturn" type="hidden" />
                                </td>
                            }
                        </tr>    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
