@using Nop.Plugin.Misc.CycleFlow.Models.Deportation
@model DeportationSearchModel
@{
    ViewBag.PageTitle = T("Admin.Plugin.Misc.CycleFlow.Deportation.Title").Text;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    NopHtml.SetActiveMenuItemSystemName("Deportation");
}
@{
    const string hideSearchBlockAttributeName = "Deportation.HideSearchBlock";

    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}

<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Admin.Plugin.Misc.CycleFlow.Deportation.Title")
    </h1>
    <div class="float-right">
        <a asp-action="Create" class="btn btn-primary">
            <i class="fas fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
        @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.VendorListButtons, additionalData = Model })
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default card-search">
                    <div class="card-body">
                        <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                            <div class="search-text">@T("Admin.Common.Search")</div>
                            <div class="icon-search"><i class="fas fa-search" aria-hidden="true"></i></div>
                            <div class="icon-collapse"><i class="far fa-angle-@(!hideSearchBlock ? "up" : "down")" aria-hidden="true"></i></div>
                        </div>

                        <div class="search-body @(hideSearchBlock ? "closed" : "")">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="OrderNumber" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="OrderNumber" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center col-12">
                                    <button type="button" id="search-deportation" class="btn btn-primary btn-search">
                                        <i class="fas fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-default">
                    <div class="card-body">
                        @await Html.PartialAsync("Table", new DataTablesModel
                        {
                           Name = "deportation-grid",
                           UrlRead = new DataUrl("List", "Deportation", null),
                           SearchButtonId = "search-deportation",
                           Length = Model.PageSize,
                           LengthMenu = Model.AvailablePageSizes,
                           Filters = new List<FilterParameter>
                            {
                            new FilterParameter(nameof(Model.OrderNumber)),
                            },  
                            ColumnCollection = new List<ColumnProperty>
                                {
                                new ColumnProperty(nameof(DeportationModel.OrderId))
                                {
                                Title = T("Admin.Plugin.Misc.CycleFlow.Deportation.Fields.StoreName").Text,
                                Width = "200"
                                },
                                new ColumnProperty(nameof(DeportationModel.CurrentOrderStatusName))
                                {
                                Title = T("Admin.Plugin.Misc.CycleFlow.Deportation.Fields.CurrentOrderStatusName").Text,
                                Width = "300"
                                },
                                new ColumnProperty(nameof(DeportationModel.NextOrderStatusName))
                                {
                                Title = T("Admin.Plugin.Misc.CycleFlow.Deportation.Fields.NextOrderStatusName").Text,
                                Width = "300"
                                },
                                new ColumnProperty(nameof(DeportationModel.Id))
                                {
                                Title = T("Admin.Plugin.Misc.CycleFlow.Deportation.Fields.View").Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.CenterAll,
                                Render = new RenderButtonView(new DataUrl(Url.Action("View","Deportation")))
                                },
                            }
                        })
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>