@model Nop.Plugin.Misc.CycleFlow.Models.CycleFlowSetting.CycleFlowSettingModel
<script>
    $(document).ready(function () {
        var modelId = @Model.Id;
        
        if (modelId > 0) {
            loadNextOrderStatusData();
        }

        $("#@Html.IdFor(model => model.PosUserId)").change(function () {
            loadOrderStatusData();
        });

        $("#@Html.IdFor(model => model.CurrentOrderStatusId)").change(function () {
            loadNextOrderStatusData();
        });

        function loadOrderStatusData() {
            var posUserId = $("#@Html.IdFor(model => model.PosUserId)").val();
            var ddlStates = $("#@Html.IdFor(model => model.CurrentOrderStatusId)");

            var postData = {
                posUserId: posUserId,
                addSelectStateItem: "true",
                exclude: "true"
            };

            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.Action("GetFirstStepByCurrentStep", "CycleFlowSetting"))",
                data: postData,
                success: function (data, textStatus, jqXHR) {
                    ddlStates.html('');  // مسح الخيارات القديمة
                    $.each(data, function (id, option) {
                        ddlStates.append($('<option></option>').val(option.id).html(option.name));
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#validationAlert").click();
                }
            });
        }

        function loadNextOrderStatusData() {
            var currentStepId = $("#@Html.IdFor(model => model.CurrentOrderStatusId)").val();
            var posUserId = $("#@Html.IdFor(model => model.PosUserId)").val();
            var ddlStates = $("#@Html.IdFor(model => model.NextOrderStatusId)");

            var postData = {
                posUserId: posUserId,
                currentStepId: currentStepId,
                addSelectStateItem: "true",
                exclude: "true"
            };

            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.Action("GetNextStepByCurrentStep", "CycleFlowSetting"))",
                data: postData,
                success: function (data, textStatus, jqXHR) {
                    ddlStates.html('');  // مسح الخيارات القديمة
                    $.each(data, function (id, option) {
                        ddlStates.append($('<option></option>').val(option.id).html(option.name));
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#validationAlert").click();
                }
            });
        }
    });
</script>

<div class="card-body">

    <!-- Store -->
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="StoreId" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="StoreId" asp-items="Model.AvailableStores" />
            <span asp-validation-for="StoreId"></span>
        </div>
    </div>

    <!-- POS User -->
    @if (Model.Id > 0)
    {
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="PosUserName" />
            </div>
            <div class="col-md-9">
                <div class="form-text-row">@Model.PosUserName</div>
            </div>
        </div>
        <input asp-for="CurrentOrderStatusId" type="hidden" />
    }
    else
    {
        <!-- Current Order Status -->
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="PosUserId" />
            </div>
            <div class="col-md-9">
                <nop-select asp-for="PosUserId" asp-items="Model.AvailablePosUsers" />
                <span asp-validation-for="PosUserId"></span>
            </div>
        </div>

    }

    @if(Model.Id > 0)
    {
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="CurrentOrderStatusName" />
            </div>
            <div class="col-md-9">
                <div class="form-text-row">@Model.CurrentOrderStatusName</div>
            </div>
        </div>
        <input asp-for="CurrentOrderStatusId" type="hidden" />
    }else
    {
        <!-- Current Order Status -->
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="CurrentOrderStatusId" />
            </div>
            <div class="col-md-9">
                <nop-select asp-for="CurrentOrderStatusId" asp-items="Model.AvailableCurrentOrderStatus" />
                <span asp-validation-for="CurrentOrderStatusId"></span>
            </div>
        </div>

    }

    
    <!-- Next Order Status -->
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="NextOrderStatusId" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="NextOrderStatusId" asp-items="Model.AvailableNextOrderStatus" />
            <span asp-validation-for="NextOrderStatusId"></span>
        </div>
    </div>

    
    <!-- Image Types -->
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="SelectedImageTypeIds" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="SelectedImageTypeIds" asp-items="Model.AvailableImageTypes" asp-multiple="true" />
            <span asp-validation-for="SelectedImageTypeIds"></span>
        </div>
    </div>
    
    <!-- Warehouse -->
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="CurrentOrderStatusId" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="CurrentOrderStatusId" asp-items="Model.AvailableCustomers" />
            <span asp-validation-for="CurrentOrderStatusId"></span>
        </div>
    </div>


    @if(!Model.EnableIsFirstStep)
    {
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="IsFirstStep" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="IsFirstStep" />
                <span asp-validation-for="IsFirstStep"></span>
            </div>
        </div>
    }
    @if (!Model.EnableIsLastStep)
    {
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="IsLastStep" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="IsLastStep" />
                <span asp-validation-for="IsLastStep"></span>
            </div>
        </div>
    }
    
<nop-alert asp-alert-id="validationAlert" asp-alert-message="@T("Admin.Common.Alert.ValidationError")" />
